*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(236, 152, 56);
}

.container{
display: flex;
width: 90vw;
}

.panel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    flex: 0.5s;
    position: relative;
    border-radius: 20px;
    margin: 10px;
    transition: flex 1s ease-in;
}

.panel h3{
    position: relative;
    color: white;
    font-size: 3rem;
    bottom: 40px;
    left: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in 1s;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
}